body {
/*     box-sizing: border-box; */
    margin: 0;
}

/* Contains CANVAS */
#container {
    display: flex;
    flex-direction: column;
    background-color: rgba(220, 220, 220, 0.6);
}

/* CANVAS CLASS style */
.can_class {
    width: 100%;
    height: 100vw;
    max-width: 500px;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}
/*
h3 {
     color: darkgoldenrod; 
    color: darkorange;
    color: rgb(111, 0, 255);
}
*/
/* 
p {
    color: blueviolet;
}
*/
/* 
h3, p {
    text-align: center;
    border: 5px;
    border-color: black;
}
*/
/* Create ARROW KEYS using CSS Animations */
.arrs {
    text-align: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 200px;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.up {
    position: relative;
    top: -4px;
}

.chevron::before {
    border-style: solid;
    border-width: 8px 8px 0 0;
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    top: -10px;
    position: relative;
    transform: rotate(-45deg);
}
.chevron.down::before {
    transform: rotate(135deg);
    top: -22px;
}
.chevron.right::before {
    transform: rotate(45deg);
    top: -18px;
    left: -5px;
}
.chevron.left::before {
    transform: rotate(225deg);
    top: -18x;
    left: 5px;
}
.arrow {
    cursor: pointer;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 100px;
    background-color: rgb(21, 56, 61);
    color:azure;
    font-size: 50px;
    border-right: 10px solid #ccc;
    border-bottom: 10px solid #ccc;
    border-left: 10px solid #ddd;
    border-top: 10px solid #eee;
    display: inline-block;
    margin: 5px;
    transition: all .05s linear;
    user-select: none;
}

.arrow:active {
    background: #555;
}